<style>
	body {color: black; 
		  }
	h1 {text-align: center; background-color: red !important;
		  }
	.backcolor {background-color: purple;
		  }
	.tableheader {font-weight: bold; font-style: italic; background-color:red;
		  }
	 img {display: block; margin-left: auto; margin-right: auto; wdith: 50%; border: 3px solid purple;
		  }
	
	  </style>
